/* =================================================================
*  =================== Règles universelles =========================
*  ================================================================= */

*, *::before, *::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}



/* =================================================================
*  ================= Charte graphique du site ======================
*  ================================================================= */

:root {
	/*
		les couleurs sont sous la forme R G B;
		on les utilise avec la fonction rgb: rgb(var(--couleur-XXX) / alpha);
	*/
	--couleur-noir: 78 78 80; /** du texte foncé sur un fond clair */
	--couleur-blanc: 246 242 236; /** du texte clair sur un fond foncé */

	/** la palette principale est une harmonie triadique: */
	--couleur-primaire: 209 185 200;
	--couleur-secondaire: 185 209 203;
	--couleur-tertiaire: 209 201 185;

	--police-titres: "Comfortaa", "sans-serif"; /** la police à utiliser pour les titres */
	--police-texte: "Atkinson Hyperlegible", "sans-serif"; /** la police à utiliser pour tous les autres textes */

	--interligne: 1.15; /** espacement des lignes de texte */
}



/* =================================================================
*  =============== Configuration de l'apparence ====================
*  ================================================================= */

:root {
	--couleur-fond: rgb(var(--couleur-blanc)); /** la couleur principale de fond */
	--texte-fond: rgb(var(--couleur-noir)); /** la couleur de texte principale */

	--couleur-en-tete: rgb(var(--couleur-fond)); /** le fond du bandeau d'en-tête du site */
	--texte-en-tete: rgb(var(--texte-fond)); /** la couleur du texte du bandeau d'en-tête du site */
	--couleur-titre: rgb(var(--couleur-primaire)); /** le fond du bandeau de titre de page */
	--texte-titre: rgb(var(--texte-fond)); /** la couleur du texte du bandeau de titre de page */
	--couleur-corps: rgb(var(--couleur-en-tete)); /** le fond du corps de la page */
	--texte-corps: rgb(var(--texte-en-tete)); /** la couleur du texte du corps de la page */
	--couleur-pied-page: rgb(var(--couleur-secondaire)); /** le fond du bandeau de pied de page */
	--texte-pied-page: rgb(var(--texte-fond)); /** la couleur du texte du bandeau de pied de page */

	--couleur-menu-active: rgb(var(--couleur-tertiaire)); /** une page active dans le menu */
	--couleur-menu-survol: rgb(var(--couleur-tertiaire) / .7); /** survol d'un page dans le menu */
	--texte-menu: rgb(var(--texte-en-tete)); /** la couleur du texte des liens dans le menu */

	--radius-coins: 5px; /* le radius à utiliser pour les éléments avec des coins ronds */

	/** image pour le contenu en cours de chargement: */
	--image-chargement: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAA0ElEQVR42u1YXQ6GIAzrsXq8HWSn4yJ83wNxBBMSJ00woXtDbVX2Cx6CIIQoqH8rEMFRm7ns/ZuVI5ATIKgUsHaNGoHwsLpWIOjDuDIOYj0sDV6RzAm94RVGT2FQa2LctfThnPoMBYcMBgdxsDkcpbfUpvHOck9iNVdS5iyMhWROnLLIBcS/SL3JB5uDcJguXXs4mqLg9JXWEiUzWcjz907bKK5tW2x8YHHjNdKvbh050Aua345e0b7HN5hyAGF6RuPHh8D9Bbo4+OhhSGrY/gEzMJ7bjJbx5QAAAABJRU5ErkJggg==");

	/** on désire un défilement fluide */
	scroll-behavior: smooth;

	background: var(--couleur-fond);
	font-family: var(--police-texte);
	line-height: var(--interligne);
	color: var(--texte-fond);
	box-sizing: border-box;
}

sub {
	/** les textes en indice */
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	bottom: -0.25em;
}

strong {
	/** texte avec emphase fort */
	font-weight: bolder;
}

h1, h2, h3, h4, h5, h6, header, thead, th {
	/** police des titres */
	font-family: var(--police-titres);
}

h1, h2, h3, h4, h4, h6 {
	/** espacement des titres */
	margin: .67em 0;
}

h2 + p, p + p {
	/** on garde un espace entre les paragraphes */
	margin-top: 1em;
}

:any-link {
	/** on désire que les liens héritent de la couleur du texte */
	color: inherit;
}

.marge {
	/** classe utilisée pour créer une marge */
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	contain: paint;
}



/* =================================================================
*  ============== Optimisation de l'accessibilité ==================
*  ================================================================= */

body > a:first-of-type {
	/** le lien pour sauter au contenu principal */
	position: absolute;
	background: rgb(var(--couleur-primaire) / 1);
	padding: 1em;
	margin: 1em;
	transform: translateY(-100vw);
}

body > a:first-of-type:focus, body > a:first-of-type:active {
	/** le lien pour sauter au contenu principal */
	transform: translateY(0);
	z-index: 99999;
}



/* =================================================================
*  ================= Bandeau d'en-tête du site =====================
*  ================================================================= */

body > header {
	/** contient l'arrière-plan du bandeau */
	background: var(--couleur-en-tete);
	padding-top: 1em;
}

body > header > .flex {
	/** conteneur principal de l'en-tête */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

body > header > .flex > .logo {
	/** le conteneur de la portion logo et nom d'entreprise */
	display: flex;
	align-items: center;
	gap: 8px;
	text-decoration: none;
	color: var(--texte-en-tete);
}

body > header picture > img {
	/** le logo de l'entreprise */
	width: 48px;
	height: 48px;
}

body > header nav > .menu {
	/** le menu de navigation */
	display: flex;
	gap: 1vw;
}

body > header nav > .menu > li {
	/** un élément du menu de navigation */
	display: inline-block;
}

body > header nav > .menu > li.active {
	/** l'élément du menu qui représente la page présentement active */
	background: var(--couleur-menu-active);
}

body > header nav > .menu > li:hover {
	/** l'élément du menu qui est sous la souris */
	background: var(--couleur-menu-survol);
}

body > header nav > .menu a {
	/** un lien du menu */
	text-decoration: none;
	display: inline-block;
	padding: 8px;
	color: var(--texte-menu);
}



/* =================================================================
*  ================= Contenu principal du site =====================
*  ================================================================= */

body > main {
	/** le conteneur principal de la page */
	display: block;
	background: var(--couleur-corps);
}

body > main > header {
	/** le bandeau de titre de la page */
	background: var(--couleur-titre);
	color: var(--texte-titre);
	cursor: default;
}

body > main > header h1 {
	font-size: 2.4em;
	line-height: 1.6em;
}

body > main > .corps {
	/** le corps de la page */
	padding: 3em 0;
	color: var(--texte-corps);
}

body > main > .corps section:not(:first-of-type) {
	/** on désire un espace entre les sections */
	margin-top: 3em;
}



/* =================================================================
*  ==================== Pied de page du site =======================
*  ================================================================= */

body > footer {
	display: block;
	padding: 2em 0 3em;
	background: var(--couleur-pied-page);
	color: var(--texte-pied-page);
}

body > footer .marge {
	display: flex;
	justify-content: space-between;
}

body > footer a:hover {
	background-color: rgb(var(--couleur-tertiaire) / .7);
	text-decoration: none;
}
