:root {
    /** représente la balise <html> */

    --couleur-noir: #4E4E50; /** du texte foncé sur un fond clair */
    --couleur-blanc: #F6F2EC; /** du texte clair sur un fond foncé */

    /** la palette principale est une harmonie triadique */
    --couleur-primaire: 209 185 200;
    --couleur-secondaire: 185 209 203;
    --couleur-tertiaire: 209 201 185;

    --couleur-fond: var(--couleur-blanc); /** la couleur principale de fond */
    --couleur-en-tete: rgb(var(--couleur-fond)); /** bandeau d'en-tête du site */
    --couleur-titre: rgb(var(--couleur-primaire)); /** le bandeau de titre de page */
    --couleur-pied-page: rgb(var(--couleur-secondaire)); /** le bandeau de pied de page */

    --couleur-menu-active: rgb(var(--couleur-tertiaire)); /** une page active dans le menu */
    --couleur-menu-survol: rgb(var(--couleur-tertiaire) / 0.5); /** survol d'un page dans le menu */

    /** on désire un défilement fluide */
    scroll-behavior: smooth;

    background: var(--couleur-fond);
    color: var(--couleur-noir);
}



/* =================================================================
*  ================= Bandeau d'en-tête du site =====================
*  ================================================================= */

body > header {
    /** contient l'arrière-plan du bandeau */
    background: var(--couleur-en-tete);
    padding-top: 1em;
}

body > header > .flex {
    /** conteneur principal de l'en-tête */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body > header > .flex > .logo {
    /** le conteneur de la portion logo et nom d'entreprise */
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: var(--couleur-noir);
}

body > header picture > img {
    /** le logo de l'entreprise */
    width: 48px;
    height: 48px;
}

body > header nav > .menu {
    /** le menu de navigation */
    display: flex;
    gap: 1vw;
}

body > header nav > .menu > li {
    /** un élément du menu de navigation */
    display: inline-block;
}

body > header nav > .menu > li.active {
    /** l'élément du menu qui représente la page présentement active */
    background: var(--couleur-menu-active);
}

body > header nav > .menu > li:hover {
    /** l'élément du menu qui est sous la souris */
    background: var(--couleur-menu-survol);
}

body > header nav > .menu a {
    /** un lien du menu */
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    color: var(--couleur-noir);
}



/* =================================================================
*  ================= Contenu principal du site =====================
*  ================================================================= */

body > main {
    /** le conteneur principal de la page */
    background: var(--couleur-fond);
}

body > main > header {
    /** le bandeau de titre de la page */
    background: var(--couleur-titre);
    color: var(--couleur-noir);
}

body > main > header h1 {
    font-size: 2.4em;
    line-height: 1.6em;
}

body > main > .corps {
    /** le corps de la page */
    padding: 3em 0 3em 0;
}



/* =================================================================
*  ==================== Pied de page du site =======================
*  ================================================================= */

body > footer {
    display: block;
    padding: 2em 0 3em 0;
    background: var(--couleur-pied-page);
    color: var(--couleur-noir);
}

body > footer .marge {
    display: flex;
    justify-content: space-between;
}

body > footer a {
    color: var(--couleur-noir);
}



/* =================================================================
*  ===================== Styles utilitaires ========================
*  ================================================================= */

.marge {
    /** classe utilisée pour créer une marge */
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    contain: paint;
}
